config/flows.json
[
    {
        "id": "0f0ec288cace878f",
        "type": "mqtt in",
        "z": "3072cc022aa87cdd",
        "name": "RH01",
        "topic": "uniovi/poc/humidity/RH01",
        "qos": "2",
        "datatype": "auto",
        "broker": "03c437b8de0c6001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "91b6bfcabd1164ab"
            ]
        ]
    },
    {
        "id": "e17ec909ca534bc2",
        "type": "mqtt in",
        "z": "3072cc022aa87cdd",
        "name": "TP01",
        "topic": "uniovi/poc/temperature/TP01",
        "qos": "2",
        "datatype": "auto",
        "broker": "03c437b8de0c6001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "2f13276c45c710d9"
            ]
        ]
    },
    {
        "id": "6b0cfb2c4c7c0ab3",
        "type": "debug",
        "z": "3072cc022aa87cdd",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "f817831dcdf6ce42",
        "type": "http request",
        "z": "3072cc022aa87cdd",
        "name": "Persist",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.55:3000/api/Measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 670,
        "y": 100,
        "wires": [
            [
                "6b0cfb2c4c7c0ab3"
            ]
        ]
    },
    {
        "id": "91b6bfcabd1164ab",
        "type": "json",
        "z": "3072cc022aa87cdd",
        "name": "Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "4c81892b436a29d7"
            ]
        ]
    },
    {
        "id": "4c81892b436a29d7",
        "type": "function",
        "z": "3072cc022aa87cdd",
        "name": "Parser",
        "func": "msg.payload.value = parseFloat(msg.payload.value);\nmsg.payload.date = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "fb9fd284dceed5bb"
            ]
        ]
    },
    {
        "id": "2f13276c45c710d9",
        "type": "json",
        "z": "3072cc022aa87cdd",
        "name": "Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "04209cbb69651c4f"
            ]
        ]
    },
    {
        "id": "04209cbb69651c4f",
        "type": "function",
        "z": "3072cc022aa87cdd",
        "name": "Parser",
        "func": "msg.payload.value = parseFloat(msg.payload.value);\nmsg.payload.date = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 100,
        "wires": [
            [
                "f817831dcdf6ce42"
            ]
        ]
    },
    {
        "id": "fa93cf8db91e71b8",
        "type": "debug",
        "z": "3072cc022aa87cdd",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "fb9fd284dceed5bb",
        "type": "http request",
        "z": "3072cc022aa87cdd",
        "name": "Persist",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.55:3000/api/Measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 670,
        "y": 180,
        "wires": [
            [
                "fa93cf8db91e71b8"
            ]
        ]
    },
    {
        "id": "03c437b8de0c6001",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "192.168.1.55",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]